In [ ]:
# Question Number 1

In [1]:
# For loop is use when we know  the iteration 

s = "roank"

for i in s:
    print(i)

r
o
a
n
k

In [2]:
# while loop is use when we don't know the iteration
print("while loop")

i = 1
while i < 6:
  print(i)
  i +=1

while loop
1
2
3
4
5

In [3]:
# Question Number 2

In [4]:
# sum of first 10 natural number 

l = [1,2,3,4,5,6,7,8,9,10]

s=0

for i in l:
    s=s+i
s

55

In [5]:
# Product of first 10 natural number 

l = [1,2,3,4,5,6,7,8,9,10]

p=1

for i in l:
    p=p*i
p

3628800

In [6]:
# Question Number 3

In [7]:
unit = int(input("Enter unit : "))

if unit>0 and unit<=100:
    print(unit*4.5)

elif unit>100 and unit<=200:
    print((unit-100)*6+450)
    
elif unit>200 and unit<=300:
    print((unit-200)*10+1050)
    
elif unit>300:
    print((unit-300)*20+2050)
    
else:
    print("SOMETHING WENT WRONG!!")

Enter unit :  310

2250

In [8]:
# Question Number 4

In [12]:
# print 1 to 100 number 

l=list(range(1,101))

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [13]:
# cube of 1 to 100 number

cube = 1
l2=[]
for i in l :
    l2.append(i*i*i)
    
print(l2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [14]:
# check its is divisiable by 4 and 5 if it is then store in another list


l3=[]
for r in range(0,len(l2)):    
    if l2[r]%4==0 or l2[r]%5==0: 
        l3.append(l2[r])
        
print(l3)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [15]:
# Question Number 5

In [ ]:
s = "I want to become a data scientist"

v = "a","e","i","o","u"

r=filter(v,s)

print(r)


# i know its wrong mathod but i tried